name: Publish

on:
  push:
    branches: [master]

jobs:
  npm:
    name: NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.MOL_TOKEN }}

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc

      - name: Setup
        run: yarn --immutable

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test
        env:
          JWT_EMAIL: ${{ secrets.JWT_EMAIL }}
          JWT_KEY: ${{ secrets.JWT_KEY }}
          NETWORK_CODE: ${{ secrets.NETWORK_CODE }}

      - name: Setup git user
        uses: fregante/setup-git-user@v2

      - name: Check for new/removed versions
        run: yarn commit:state

      - name: Release
        uses: cycjimmy/semantic-release-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          extra_plugins: |
            @semantic-release/git
